<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] || TMC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/loadingcurtain.css" rel="stylesheet" />
    <script src="~/js/chatservice.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/c4bda478c8.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <script src="~/js/loadingcurtain.js"></script>
    <script>
        $(document).ready(function () {
            chatService.fnloadUnreadChat();
            window.setInterval(function () {
                //chatService.fnloadUnreadChat();
            }, 5000);
        });
    </script>
</head>
<body>
    <div class="loadingcurtain-main">
        <div class="loadingcurtain-mainheader">
            <span>
                Theatre Management Company
            </span>
        </div>
        <div class="loadingcurtain-tagline">
            <span>
                The Bridge We Needed
            </span>
        </div>
        <div class="loadingcurtain-container">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
        </div>
    </div>
    <div class="main-body-content">
        <header>
            <nav class="navbar navbar-expand-sm">
                <a class="navbar-brand" href="/home/index/">
                    <img src="~/TMC/Images/White logo.png" width="90" height="90" class="d-inline-block align-top" alt="TMC-Logo" />
                </a>
                <div class="d-flex flex-row order-2 order-lg-3">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item"><a class="nav-link px-2" href="https://www.facebook.com/TheatreManagementCompany/"><span class="fa fa-facebook"></span></a></li>
                        <li class="nav-item"><a class="nav-link px-2" href="https://www.linkedin.com/in/theatre-management-company-215574226/"><span class="fa fa-linkedin"></span></a></li>
                        <li class="nav-item"><a class="nav-link px-2" href="https://youtube.com/channel/UC9CmVldnVYc4Cz7XJt1hr1g"><span class="fa fa-youtube"></span></a></li>
                        <li class="nav-item"><a class="nav-link px-2" href="https://instagram.com/theatremanagementcompany"><span class="fa fa-instagram"></span></a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link px-2" href="/Account/Message">
                                    <img src="~/TMC/Images/chat.ico" width="20" height="20"/>
                                    <span id="count" class="badge"></span>
                                </a>
                            </li>
                        }
                    </ul>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                    </button>
                </div>
                <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarColor01">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/home/allplays/">Plays</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/Backstage/">Backstage</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarJoinUs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Scripts
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarJoinUs">
                                <a class="dropdown-item" href="/home/Script">Scripts</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" href="/account/ListYourScript">List your Scripts</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/Giveaway">Giveaways</a>
                        </li>
                        <li class="nav-item" style="display:none">
                            <a class="nav-link" href="/home/alldirectors/">Directors</a>
                        </li>
                        <li class="nav-item" style="display:none">
                            <a class="nav-link" href="/home/index#divAboutUs">About Us</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarAccount">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" href="/account/EditYourProfile">My Account</a>
                                    <a class="dropdown-item" href="/account/Plays">Plays</a>
                                    <a class="dropdown-item" href="/account/GiveAway">GiveAway</a>
                                    <a class="dropdown-item" href="/account/ChangePassword">Change Password</a>
                                    <a class="dropdown-item" href="/account/Logout">Logout</a>
                                    @if (this.User.IsInRole("ADMINISTRATOR"))
                                    {
                                        <a class="dropdown-item" href="/account/UpComingPlays">Upcoming Plays</a>
                                        <a class="dropdown-item" href="/account/Profiles">Profiles</a>
                                        <a class="dropdown-item" href="/account/Directors">Directors</a>
                                        <a class="dropdown-item" href="/account/Tickets">Tickets</a>
                                        <a class="dropdown-item" href="/account/HomePageSettings">HomePage Settings</a>
                                    }
                                }
                                else
                                {
                                    <a class="dropdown-item" href="/account/verify">Login</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarJoinUs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Join Us
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarJoinUs">

                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <!-- <a class="dropdown-item" href="/account/verify">Login</a>-->
                                    <a class="dropdown-item" href="/account/ListYourProfile">SignUp</a>
                                    <!-- <a class="dropdown-item" href="/account/ListYourProfile/">List your Profile</a>-->
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" href="/account/ListYourPlay/">List your Play</a>
                                    <a class="dropdown-item" href="/account/ListYourGiveAway/">List your Giveaway</a>
                                    <a class="dropdown-item" href="/home/index#divContactUs">Contact Us</a>
                                }

                            </div>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="/home/jointherevolution">Join the revolution</a>
                        </li>
                        @*    @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link" href="/Account/Message">
                    Chat
                    <span id="count" class="badge"></span>
                </a>
            </li>
        }*@
                    </ul>
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="display:none;" />
                    </form>
                </div>
            </nav>
        </header>
        <div>
            <main role="main" class="pb-3">
                <div class="loader-data">
                    <div class="loader">
                        <div class="loader-wheel"></div>
                        <div class="loader-text"></div>
                    </div>
                </div>
                @RenderBody()
            </main>
        </div>

        <footer class="footer text-muted">
            <div class="container">
                &copy; 2022 - TMC
            </div>
        </footer>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>