@model TMC.Models.ChangePasswordModel

<main role="main">
    <section class="text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Change Password</h1>
        </div>
    </section>

        <div class="container">
            <div class="col-md-12">
                <div class="row">                    
                    <form class="change-password" id="formChangePassword" asp-action="ChangePassword">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Change" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
</main>

