<main role="main">
    <section class="text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Change Password</h1>
        </div>
    </section>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <p class="change-password-p">Your password has been changed Successfully</p>
                </div>
            </div>
        </div>
    </main>
