@model TMC.Models.ForgotPasswordModel
    @{
    Layout = null;
    }
    <link href="~/css/loginregister.css" rel="stylesheet" />
    <div class="login-box">
        <div class="lb-header"><a class="active">ForgotPassword</a></div>
        <form class="email-login" id="formForgotPassword" method="post">
            <div class="u-form-group">              
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="u-form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
    
      
        