@{
    Layout = null;
}
<link href="~/css/loginregister.css" rel="stylesheet" />
<div class="login-box">
    <div class="lb-header"><a class="active">ForgotPassword Confirmation</a></div>
    <p>
        The link has been sent, please check your email to reset your password.
    </p>
</div>