<script src="~/js/listyourgiveaway.js"></script>
<style type="text/css">
    form {
        margin-top: 2%;
    }
</style>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">give aways</h1>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group btn-group-sm pr-0" role="group" aria-label="Basic outlined example">
                        <a href="/account/ListYourGiveAway" target="_blank" class="btn btn-outline-success" name="btnAdd"><i class="bi bi-plus-circle-dotted"></i> &nbsp; Add New</a>
                    </div>
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    City
                                </th>
                                <th>
                                    Date Created
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</main>