<script src="~/js/accountlistyourplay.js"></script>
<style type="text/css">
    form {
        margin-top: 2%;
    }
</style>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">upload play</h1>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <input type="hidden" id="HFID" />
                    <hr />
                    <form style="width:100%;">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtplaytitle">Title</label>
                                    <input type="text" class="form-control form-control-sm" id="txtplaytitle" placeholder="play's title" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtgrouptitle">Group Title</label>
                                    <input type="text" class="form-control form-control-sm" id="txtgrouptitle" placeholder="group's title" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtplayactor">Actor(s)</label>
                                    <input type="text" class="form-control form-control-sm" id="txtplayactor" placeholder="play's actor(s)" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtplaywriter">Writer</label>
                                    <input type="text" class="form-control form-control-sm" id="txtplaywriter" placeholder="play's writer" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtplaydirector">Director</label>
                                    <input type="text" class="form-control form-control-sm" id="txtplaydirector" placeholder="play's director" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtnumberofshow">Number of show(s)</label>
                                    <input type="number" class="form-control form-control-sm" id="txtnumberofshow" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtplaydate">First Show</label>
                                    <input type="date" class="form-control form-control-sm" id="txtplaydate" placeholder="play's first show" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtplaytrailerlink">Upload HD trailer of your play/link of your play</label>
                                    <input type="text" class="form-control form-control-sm" id="txtplaytrailerlink" placeholder="play's link" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtplaygenre">Genre</label>
                                    <input type="text" class="form-control form-control-sm" id="txtplaygenre" placeholder="play's genre" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtplaylanguage">Language(s)</label>
                                    <input type="text" class="form-control form-control-sm" id="txtplaylanguage" placeholder="play's language" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtplaycastncredit">Cast &amp; Credit</label>
                                    <input type="text" class="form-control form-control-sm" id="txtplaycastncredit" placeholder="play's cast-n-credit" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtplayage">Suitable for age(s)</label>
                                    <input type="text" class="form-control form-control-sm" id="txtplayage" placeholder="suitable age" required>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtplayduration">Duration of play</label>
                                    <input type="text" class="form-control form-control-sm" id="txtplayduration" placeholder="play's duration" required>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtplaycity">City</label>
                                    <select class="form-control form-control-sm" id="ddlplaycity">
                                        <option>North and Middle Andaman</option>
                                        <option>South Andaman</option>
                                        <option>Nicobar</option>
                                        <option>Adilabad</option>
                                        <option>Anantapur</option>
                                        <option>Chittoor</option>
                                        <option>East Godavari</option>
                                        <option>Guntur</option>
                                        <option>Hyderabad</option>
                                        <option>Kadapa</option>
                                        <option>Karimnagar</option>
                                        <option>Khammam</option>
                                        <option>Krishna</option>
                                        <option>Kurnool</option>
                                        <option>Mahbubnagar</option>
                                        <option>Medak</option>
                                        <option>Nalgonda</option>
                                        <option>Nellore</option>
                                        <option>Nizamabad</option>
                                        <option>Prakasam</option>
                                        <option>Rangareddi</option>
                                        <option>Srikakulam</option>
                                        <option>Vishakhapatnam</option>
                                        <option>Vizianagaram</option>
                                        <option>Warangal</option>
                                        <option>West Godavari</option>
                                        <option>Anjaw</option>
                                        <option>Changlang</option>
                                        <option>East Kameng</option>
                                        <option>Lohit</option>
                                        <option>Lower Subansiri</option>
                                        <option>Papum Pare</option>
                                        <option>Tirap</option>
                                        <option>Dibang Valley</option>
                                        <option>Upper Subansiri</option>
                                        <option>West Kameng</option>
                                        <option>Barpeta</option>
                                        <option>Bongaigaon</option>
                                        <option>Cachar</option>
                                        <option>Darrang</option>
                                        <option>Dhemaji</option>
                                        <option>Dhubri</option>
                                        <option>Dibrugarh</option>
                                        <option>Goalpara</option>
                                        <option>Golaghat</option>
                                        <option>Hailakandi</option>
                                        <option>Jorhat</option>
                                        <option>Karbi Anglong</option>
                                        <option>Karimganj</option>
                                        <option>Kokrajhar</option>
                                        <option>Lakhimpur</option>
                                        <option>Marigaon</option>
                                        <option>Nagaon</option>
                                        <option>Nalbari</option>
                                        <option>North Cachar Hills</option>
                                        <option>Sibsagar</option>
                                        <option>Sonitpur</option>
                                        <option>Tinsukia</option>
                                        <option>Araria</option>
                                        <option>Aurangabad</option>
                                        <option>Banka</option>
                                        <option>Begusarai</option>
                                        <option>Bhagalpur</option>
                                        <option>Bhojpur</option>
                                        <option>Buxar</option>
                                        <option>Darbhanga</option>
                                        <option>Purba Champaran</option>
                                        <option>Gaya</option>
                                        <option>Gopalganj</option>
                                        <option>Jamui</option>
                                        <option>Jehanabad</option>
                                        <option>Khagaria</option>
                                        <option>Kishanganj</option>
                                        <option>Kaimur</option>
                                        <option>Katihar</option>
                                        <option>Lakhisarai</option>
                                        <option>Madhubani</option>
                                        <option>Munger</option>
                                        <option>Madhepura</option>
                                        <option>Muzaffarpur</option>
                                        <option>Nalanda</option>
                                        <option>Nawada</option>
                                        <option>Patna</option>
                                        <option>Purnia</option>
                                        <option>Rohtas</option>
                                        <option>Saharsa</option>
                                        <option>Samastipur</option>
                                        <option>Sheohar</option>
                                        <option>Sheikhpura</option>
                                        <option>Saran</option>
                                        <option>Sitamarhi</option>
                                        <option>Supaul</option>
                                        <option>Siwan</option>
                                        <option>Vaishali</option>
                                        <option>Pashchim Champaran</option>
                                        <option>Bastar</option>
                                        <option>Bilaspur</option>
                                        <option>Dantewada</option>
                                        <option>Dhamtari</option>
                                        <option>Durg</option>
                                        <option>Jashpur</option>
                                        <option>Janjgir-Champa</option>
                                        <option>Korba</option>
                                        <option>Koriya</option>
                                        <option>Kanker</option>
                                        <option>Kawardha</option>
                                        <option>Mahasamund</option>
                                        <option>Raigarh</option>
                                        <option>Rajnandgaon</option>
                                        <option>Raipur</option>
                                        <option>Surguja</option>
                                        <option>Diu</option>
                                        <option>Daman</option>
                                        <option>Delhi</option>
                                        <option>North Goa</option>
                                        <option>South Goa</option>
                                        <option>Ahmedabad</option>
                                        <option>Amreli District</option>
                                        <option>Anand</option>
                                        <option>Banaskantha</option>
                                        <option>Bharuch</option>
                                        <option>Bhavnagar</option>
                                        <option>Dahod</option>
                                        <option>The Dangs</option>
                                        <option>Gandhinagar</option>
                                        <option>Jamnagar</option>
                                        <option>Junagadh</option>
                                        <option>Kutch</option>
                                        <option>Kheda</option>
                                        <option>Mehsana</option>
                                        <option>Narmada</option>
                                        <option>Navsari</option>
                                        <option>Patan</option>
                                        <option>Panchmahal</option>
                                        <option>Porbandar</option>
                                        <option>Rajkot</option>
                                        <option>Sabarkantha</option>
                                        <option>Surendranagar</option>
                                        <option>Surat</option>
                                        <option>Vadodara</option>
                                        <option>Valsad</option>
                                        <option>Ambala</option>
                                        <option>Bhiwani</option>
                                        <option>Faridabad</option>
                                        <option>Fatehabad</option>
                                        <option>Gurgaon</option>
                                        <option>Hissar</option>
                                        <option>Jhajjar</option>
                                        <option>Jind</option>
                                        <option>Karnal</option>
                                        <option>Kaithal</option>
                                        <option>Kurukshetra</option>
                                        <option>Mahendragarh</option>
                                        <option>Mewat</option>
                                        <option>Panchkula</option>
                                        <option>Panipat</option>
                                        <option>Rewari</option>
                                        <option>Rohtak</option>
                                        <option>Sirsa</option>
                                        <option>Sonepat</option>
                                        <option>Yamuna Nagar</option>
                                        <option>Palwal</option>
                                        <option>Bilaspur</option>
                                        <option>Chamba</option>
                                        <option>Hamirpur</option>
                                        <option>Kangra</option>
                                        <option>Kinnaur</option>
                                        <option>Kulu</option>
                                        <option>Lahaul and Spiti</option>
                                        <option>Mandi</option>
                                        <option>Shimla</option>
                                        <option>Sirmaur</option>
                                        <option>Solan</option>
                                        <option>Una</option>
                                        <option>Anantnag</option>
                                        <option>Badgam</option>
                                        <option>Bandipore</option>
                                        <option>Baramula</option>
                                        <option>Doda</option>
                                        <option>Jammu</option>
                                        <option>Kargil</option>
                                        <option>Kathua</option>
                                        <option>Kupwara</option>
                                        <option>Leh</option>
                                        <option>Poonch</option>
                                        <option>Pulwama</option>
                                        <option>Rajauri</option>
                                        <option>Srinagar</option>
                                        <option>Samba</option>
                                        <option>Udhampur</option>
                                        <option>Bokaro</option>
                                        <option>Chatra</option>
                                        <option>Deoghar</option>
                                        <option>Dhanbad</option>
                                        <option>Dumka</option>
                                        <option>Purba Singhbhum</option>
                                        <option>Garhwa</option>
                                        <option>Giridih</option>
                                        <option>Godda</option>
                                        <option>Gumla</option>
                                        <option>Hazaribagh</option>
                                        <option>Koderma</option>
                                        <option>Lohardaga</option>
                                        <option>Pakur</option>
                                        <option>Palamu</option>
                                        <option>Ranchi</option>
                                        <option>Sahibganj</option>
                                        <option>Seraikela and Kharsawan</option>
                                        <option>Pashchim Singhbhum</option>
                                        <option>Ramgarh</option>
                                        <option>Bidar</option>
                                        <option>Belgaum</option>
                                        <option>Bijapur</option>
                                        <option>Bagalkot</option>
                                        <option>Bellary</option>
                                        <option>Bangalore</option>
                                        <option>Chamarajnagar</option>
                                        <option>Chikmagalur</option>
                                        <option>Chitradurga</option>
                                        <option>Davanagere</option>
                                        <option>Dharwad</option>
                                        <option>Dakshina Kannada</option>
                                        <option>Gadag</option>
                                        <option>Gulbarga</option>
                                        <option>Hassan</option>
                                        <option>Haveri District</option>
                                        <option>Kodagu</option>
                                        <option>Kolar</option>
                                        <option>Koppal</option>
                                        <option>Mandya</option>
                                        <option>Mysore</option>
                                        <option>Raichur</option>
                                        <option>Shimoga</option>
                                        <option>Tumkur</option>
                                        <option>Udupi</option>
                                        <option>Uttara Kannada</option>
                                        <option>Ramanagara</option>
                                        <option>Chikballapur</option>
                                        <option>Yadagiri</option>
                                        <option>Alappuzha</option>
                                        <option>Ernakulam</option>
                                        <option>Idukki</option>
                                        <option>Kollam</option>
                                        <option>Kannur</option>
                                        <option>Kasaragod</option>
                                        <option>Kottayam</option>
                                        <option>Kozhikode</option>
                                        <option>Malappuram</option>
                                        <option>Palakkad</option>
                                        <option>Pathanamthitta</option>
                                        <option>Thrissur</option>
                                        <option>Thiruvananthapuram</option>
                                        <option>Wayanad</option>
                                        <option>Alirajpur</option>
                                        <option>Anuppur</option>
                                        <option>Ashok Nagar</option>
                                        <option>Balaghat</option>
                                        <option>Barwani</option>
                                        <option>Betul</option>
                                        <option>Bhind</option>
                                        <option>Bhopal</option>
                                        <option>Burhanpur</option>
                                        <option>Chhatarpur</option>
                                        <option>Chhindwara</option>
                                        <option>Damoh</option>
                                        <option>Datia</option>
                                        <option>Dewas</option>
                                        <option>Dhar</option>
                                        <option>Dindori</option>
                                        <option>Guna</option>
                                        <option>Gwalior</option>
                                        <option>Harda</option>
                                        <option>Hoshangabad</option>
                                        <option>Indore</option>
                                        <option>Jabalpur</option>
                                        <option>Jhabua</option>
                                        <option>Katni</option>
                                        <option>Khandwa</option>
                                        <option>Khargone</option>
                                        <option>Mandla</option>
                                        <option>Mandsaur</option>
                                        <option>Morena</option>
                                        <option>Narsinghpur</option>
                                        <option>Neemuch</option>
                                        <option>Panna</option>
                                        <option>Rewa</option>
                                        <option>Rajgarh</option>
                                        <option>Ratlam</option>
                                        <option>Raisen</option>
                                        <option>Sagar</option>
                                        <option>Satna</option>
                                        <option>Sehore</option>
                                        <option>Seoni</option>
                                        <option>Shahdol</option>
                                        <option>Shajapur</option>
                                        <option>Sheopur</option>
                                        <option>Shivpuri</option>
                                        <option>Sidhi</option>
                                        <option>Singrauli</option>
                                        <option>Tikamgarh</option>
                                        <option>Ujjain</option>
                                        <option>Umaria</option>
                                        <option>Vidisha</option>
                                        <option>Ahmednagar</option>
                                        <option>Akola</option>
                                        <option>Amrawati</option>
                                        <option>Aurangabad</option>
                                        <option>Bhandara</option>
                                        <option>Beed</option>
                                        <option>Buldhana</option>
                                        <option>Chandrapur</option>
                                        <option>Dhule</option>
                                        <option>Gadchiroli</option>
                                        <option>Gondiya</option>
                                        <option>Hingoli</option>
                                        <option>Jalgaon</option>
                                        <option>Jalna</option>
                                        <option>Kolhapur</option>
                                        <option>Latur</option>
                                        <option>Mumbai</option>
                                        <option>Nandurbar</option>
                                        <option>Nanded</option>
                                        <option>Nagpur</option>
                                        <option>Nashik</option>
                                        <option>Osmanabad</option>
                                        <option>Parbhani</option>
                                        <option>Pune</option>
                                        <option>Raigad</option>
                                        <option>Ratnagiri</option>
                                        <option>Sindhudurg</option>
                                        <option>Sangli</option>
                                        <option>Solapur</option>
                                        <option>Satara</option>
                                        <option>Thane</option>
                                        <option>Wardha</option>
                                        <option>Washim</option>
                                        <option>Yavatmal</option>
                                        <option>Bishnupur</option>
                                        <option>Churachandpur</option>
                                        <option>Chandel</option>
                                        <option>Imphal East</option>
                                        <option>Senapati</option>
                                        <option>Tamenglong</option>
                                        <option>Thoubal</option>
                                        <option>Ukhrul</option>
                                        <option>Imphal West</option>
                                        <option>East Garo Hills</option>
                                        <option>East Khasi Hills</option>
                                        <option>Jaintia Hills</option>
                                        <option>Ri-Bhoi</option>
                                        <option>South Garo Hills</option>
                                        <option>West Garo Hills</option>
                                        <option>West Khasi Hills</option>
                                        <option>Aizawl</option>
                                        <option>Champhai</option>
                                        <option>Kolasib</option>
                                        <option>Lawngtlai</option>
                                        <option>Lunglei</option>
                                        <option>Mamit</option>
                                        <option>Saiha</option>
                                        <option>Serchhip</option>
                                        <option>Dimapur</option>
                                        <option>Kohima</option>
                                        <option>Mokokchung</option>
                                        <option>Mon</option>
                                        <option>Phek</option>
                                        <option>Tuensang</option>
                                        <option>Wokha</option>
                                        <option>Zunheboto</option>
                                        <option>Angul</option>
                                        <option>Boudh</option>
                                        <option>Bhadrak</option>
                                        <option>Bolangir</option>
                                        <option>Bargarh</option>
                                        <option>Baleswar</option>
                                        <option>Cuttack</option>
                                        <option>Debagarh</option>
                                        <option>Dhenkanal</option>
                                        <option>Ganjam</option>
                                        <option>Gajapati</option>
                                        <option>Jharsuguda</option>
                                        <option>Jajapur</option>
                                        <option>Jagatsinghpur</option>
                                        <option>Khordha</option>
                                        <option>Kendujhar</option>
                                        <option>Kalahandi</option>
                                        <option>Kandhamal</option>
                                        <option>Koraput</option>
                                        <option>Kendrapara</option>
                                        <option>Malkangiri</option>
                                        <option>Mayurbhanj</option>
                                        <option>Nabarangpur</option>
                                        <option>Nuapada</option>
                                        <option>Nayagarh</option>
                                        <option>Puri</option>
                                        <option>Rayagada</option>
                                        <option>Sambalpur</option>
                                        <option>Subarnapur</option>
                                        <option>Sundargarh</option>
                                        <option>Karaikal</option>
                                        <option>Mahe</option>
                                        <option>Puducherry</option>
                                        <option>Yanam</option>
                                        <option>Amritsar</option>
                                        <option>Bathinda</option>
                                        <option>Firozpur</option>
                                        <option>Faridkot</option>
                                        <option>Fatehgarh Sahib</option>
                                        <option>Gurdaspur</option>
                                        <option>Hoshiarpur</option>
                                        <option>Jalandhar</option>
                                        <option>Kapurthala</option>
                                        <option>Ludhiana</option>
                                        <option>Mansa</option>
                                        <option>Moga</option>
                                        <option>Mukatsar</option>
                                        <option>Nawan Shehar</option>
                                        <option>Patiala</option>
                                        <option>Rupnagar</option>
                                        <option>Sangrur</option>
                                        <option>Ajmer</option>
                                        <option>Alwar</option>
                                        <option>Bikaner</option>
                                        <option>Barmer</option>
                                        <option>Banswara</option>
                                        <option>Bharatpur</option>
                                        <option>Baran</option>
                                        <option>Bundi</option>
                                        <option>Bhilwara</option>
                                        <option>Churu</option>
                                        <option>Chittorgarh</option>
                                        <option>Dausa</option>
                                        <option>Dholpur</option>
                                        <option>Dungapur</option>
                                        <option>Ganganagar</option>
                                        <option>Hanumangarh</option>
                                        <option>Juhnjhunun</option>
                                        <option>Jalore</option>
                                        <option>Jodhpur</option>
                                        <option>Jaipur</option>
                                        <option>Jaisalmer</option>
                                        <option>Jhalawar</option>
                                        <option>Karauli</option>
                                        <option>Kota</option>
                                        <option>Nagaur</option>
                                        <option>Pali</option>
                                        <option>Pratapgarh</option>
                                        <option>Rajsamand</option>
                                        <option>Sikar</option>
                                        <option>Sawai Madhopur</option>
                                        <option>Sirohi</option>
                                        <option>Tonk</option>
                                        <option>Udaipur</option>
                                        <option>East Sikkim</option>
                                        <option>North Sikkim</option>
                                        <option>South Sikkim</option>
                                        <option>West Sikkim</option>
                                        <option>Ariyalur</option>
                                        <option>Chennai</option>
                                        <option>Coimbatore</option>
                                        <option>Cuddalore</option>
                                        <option>Dharmapuri</option>
                                        <option>Dindigul</option>
                                        <option>Erode</option>
                                        <option>Kanchipuram</option>
                                        <option>Kanyakumari</option>
                                        <option>Karur</option>
                                        <option>Madurai</option>
                                        <option>Nagapattinam</option>
                                        <option>The Nilgiris</option>
                                        <option>Namakkal</option>
                                        <option>Perambalur</option>
                                        <option>Pudukkottai</option>
                                        <option>Ramanathapuram</option>
                                        <option>Salem</option>
                                        <option>Sivagangai</option>
                                        <option>Tiruppur</option>
                                        <option>Tiruchirappalli</option>
                                        <option>Theni</option>
                                        <option>Tirunelveli</option>
                                        <option>Thanjavur</option>
                                        <option>Thoothukudi</option>
                                        <option>Thiruvallur</option>
                                        <option>Thiruvarur</option>
                                        <option>Tiruvannamalai</option>
                                        <option>Vellore</option>
                                        <option>Villupuram</option>
                                        <option>Dhalai</option>
                                        <option>North Tripura</option>
                                        <option>South Tripura</option>
                                        <option>West Tripura</option>
                                        <option>Almora</option>
                                        <option>Bageshwar</option>
                                        <option>Chamoli</option>
                                        <option>Champawat</option>
                                        <option>Dehradun</option>
                                        <option>Haridwar</option>
                                        <option>Nainital</option>
                                        <option>Pauri Garhwal</option>
                                        <option>Pithoragharh</option>
                                        <option>Rudraprayag</option>
                                        <option>Tehri Garhwal</option>
                                        <option>Udham Singh Nagar</option>
                                        <option>Uttarkashi</option>
                                        <option>Agra</option>
                                        <option>Allahabad</option>
                                        <option>Aligarh</option>
                                        <option>Ambedkar Nagar</option>
                                        <option>Auraiya</option>
                                        <option>Azamgarh</option>
                                        <option>Barabanki</option>
                                        <option>Badaun</option>
                                        <option>Bagpat</option>
                                        <option>Bahraich</option>
                                        <option>Bijnor</option>
                                        <option>Ballia</option>
                                        <option>Banda</option>
                                        <option>Balrampur</option>
                                        <option>Bareilly</option>
                                        <option>Basti</option>
                                        <option>Bulandshahr</option>
                                        <option>Chandauli</option>
                                        <option>Chitrakoot</option>
                                        <option>Deoria</option>
                                        <option>Etah</option>
                                        <option>Kanshiram Nagar</option>
                                        <option>Etawah</option>
                                        <option>Firozabad</option>
                                        <option>Farrukhabad</option>
                                        <option>Fatehpur</option>
                                        <option>Faizabad</option>
                                        <option>Gautam Buddha Nagar</option>
                                        <option>Gonda</option>
                                        <option>Ghazipur</option>
                                        <option>Gorkakhpur</option>
                                        <option>Ghaziabad</option>
                                        <option>Hamirpur</option>
                                        <option>Hardoi</option>
                                        <option>Mahamaya Nagar</option>
                                        <option>Jhansi</option>
                                        <option>Jalaun</option>
                                        <option>Jyotiba Phule Nagar</option>
                                        <option>Jaunpur District</option>
                                        <option>Kanpur Dehat</option>
                                        <option>Kannauj</option>
                                        <option>Kanpur Nagar</option>
                                        <option>Kaushambi</option>
                                        <option>Kushinagar</option>
                                        <option>Lalitpur</option>
                                        <option>Lakhimpur Kheri</option>
                                        <option>Lucknow</option>
                                        <option>Mau</option>
                                        <option>Meerut</option>
                                        <option>Maharajganj</option>
                                        <option>Mahoba</option>
                                        <option>Mirzapur</option>
                                        <option>Moradabad</option>
                                        <option>Mainpuri</option>
                                        <option>Mathura</option>
                                        <option>Muzaffarnagar</option>
                                        <option>Pilibhit</option>
                                        <option>Pratapgarh</option>
                                        <option>Rampur</option>
                                        <option>Rae Bareli</option>
                                        <option>Saharanpur</option>
                                        <option>Sitapur</option>
                                        <option>Shahjahanpur</option>
                                        <option>Sant Kabir Nagar</option>
                                        <option>Siddharthnagar</option>
                                        <option>Sonbhadra</option>
                                        <option>Sant Ravidas Nagar</option>
                                        <option>Sultanpur</option>
                                        <option>Shravasti</option>
                                        <option>Unnao</option>
                                        <option>Varanasi</option>
                                        <option>Birbhum</option>
                                        <option>Bankura</option>
                                        <option>Bardhaman</option>
                                        <option>Darjeeling</option>
                                        <option>Dakshin Dinajpur</option>
                                        <option>Hooghly</option>
                                        <option>Howrah</option>
                                        <option>Jalpaiguri</option>
                                        <option>Cooch Behar</option>
                                        <option>Kolkata</option>
                                        <option>Malda</option>
                                        <option>Midnapore</option>
                                        <option>Murshidabad</option>
                                        <option>Nadia</option>
                                        <option>North 24 Parganas</option>
                                        <option>South 24 Parganas</option>
                                        <option>Purulia</option>
                                        <option>Uttar Dinajpur</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtfacebook">Facebook</label>
                                    <input type="text" class="form-control form-control-sm" id="txtfacebook" placeholder="facebook's handle" required>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txttwitter">Twitter</label>
                                    <input type="text" class="form-control form-control-sm" id="txttwitter" placeholder="twitter's handle" required>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtinstagram">Instagram</label>
                                    <input type="text" class="form-control form-control-sm" id="txtinstagram" placeholder="instagram's handle" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtareasynopsisSocialHandles">Synopsis for social handles</label>
                                    <textarea id="txtareasynopsisSocialHandles" class="form-control form-control-sm" placeholder="play's synopsis" rows="4" required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtareagroupinfo">Group's Info</label>
                                    <textarea id="txtareagroupinfo" class="form-control form-control-sm" placeholder="group's info" rows="4" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label class="text-inverse" for="txtareasynopsis">Synopsis</label>
                                    <textarea id="txtareasynopsis" class="form-control form-control-sm" placeholder="play's synopsis" rows="4" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="formFile" class="form-label">Censor Certificate</label>
                                    <input class="form-control form-control-sm" type="file" id="fucensorcertificate" accept="image/*">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label for="formFile" class="form-label">Banner Image</label>
                                    <input class="form-control form-control-sm" type="file" id="fubannerimage" accept="image/*">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="fuTechRider" class="form-label">Tech Rider(Set(Photo), Light(No. of lights), Sound(Basic Requirements)</label>
                                    <input class="form-control form-control-sm" type="file" multiple id="fuTechRider" accept="image/*">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="sliderFile" class="form-label">HD Pictures /Posters of your Play</label>
                                    <input class="form-control form-control-sm" type="file" multiple id="fusliderFile" accept="application/pdf">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <input type="button" id="btnUpload" class="btn btn-sm btn-outline-primary form-control form-control-sm" value="Save" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>