@{
    ViewData["Title"] = "Profile";
}
<script src="~/js/listyourprofile.js"></script>
<style type="text/css">
    form {
        margin-top: 2%;
    }

    label {
        color: #ffe1e6;
    }

    .steps {
        border: 2px white solid;
        padding: 1%;
        border-radius: 5px;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }
</style>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">upload profile</h1>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <select class="form-control form-control-sm custom-select-sm" style="width:100%;" name="selectUserRole">
                        <option value="writer">
                            Writer
                        </option>
                        <option value="writer">
                            Director
                        </option>
                        <option value="producer">
                            Producer
                        </option>
                        <option value="actor">
                            Actor
                        </option>
                        <option value="back stage">
                            Musicians
                        </option>
                        <option value="back stage">
                            Choreographers
                        </option>
                        <option value="set designer">
                            Set Designer
                        </option>
                        <option value="light designer">
                            Light Designer
                        </option>
                        <option value="graphic designer">
                            Graphic Designer
                        </option>
                        <option value="production manager">
                            Production Manager
                        </option>
                        <option value="stage manager">
                            Stage Manager
                        </option>
                        <option value="light operator">
                            Light Operator
                        </option>
                        <option value="sound operator">
                            Sound Operator
                        </option>
                        <option value="back stage">
                            Back Stage
                        </option>
                        <option value="back stage">
                            Build Crew
                        </option>
                        <option value="back stage">
                            Technical Director
                        </option>
                        <option value="back stage">
                            Photographer
                        </option>
                        <option value="back stage">
                            Video editor
                        </option>
                        <option value="back stage">
                            Language coach
                        </option>
                        <option value="back stage">
                            Body conditioning instructor
                        </option>
                        <option value="back stage">
                            Festival organiser
                        </option>
                    </select>
                </div>
                <div class="row">
                    <form style="width: 100%;">
                        <div class="steps step1">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="formFile">Profile Picture</label>
                                        <input class="form-control form-control-sm" type="file" name="formFile" accept="image/*" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="txtTypeOf">Type of..</label>
                                        <input type="text" class="form-control form-control-sm" name="txtTypeOf" placeholder="type of" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="txtFullName">Title</label>
                                        <input type="text" class="form-control form-control-sm" name="txtFullName" placeholder="full name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="txtEmail">Email Address</label>
                                        <input type="text" class="form-control form-control-sm" name="txtEmail" placeholder="email address" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="txtplaycity">City</label>
                                        <select class="form-control form-control-sm" name="ddlplaycity">
                                            <option>Adilabad</option>
                                            <option>Agra</option>
                                            <option>Ahmedabad</option>
                                            <option>Ahmednagar</option>
                                            <option>Aizawl</option>
                                            <option>Ajmer</option>
                                            <option>Akola</option>
                                            <option>Alappuzha</option>
                                            <option>Aligarh</option>
                                            <option>Alirajpur</option>
                                            <option>Allahabad</option>
                                            <option>Almora</option>
                                            <option>Alwar</option>
                                            <option>Ambala</option>
                                            <option>AmbedkarNagar</option>
                                            <option>Amrawati</option>
                                            <option>AmreliDistrict</option>
                                            <option>Amritsar</option>
                                            <option>Anand</option>
                                            <option>Anantapur</option>
                                            <option>Anantnag</option>
                                            <option>Angul</option>
                                            <option>Anjaw</option>
                                            <option>Anuppur</option>
                                            <option>Araria</option>
                                            <option>Ariyalur</option>
                                            <option>AshokNagar</option>
                                            <option>Auraiya</option>
                                            <option>Aurangabad</option>
                                            <option>Aurangabad</option>
                                            <option>Azamgarh</option>
                                            <option>Badaun</option>
                                            <option>Badgam</option>
                                            <option>Bagalkot</option>
                                            <option>Bageshwar</option>
                                            <option>Bagpat</option>
                                            <option>Bahraich</option>
                                            <option>Balaghat</option>
                                            <option>Baleswar</option>
                                            <option>Ballia</option>
                                            <option>Balrampur</option>
                                            <option>Banaskantha</option>
                                            <option>Banda</option>
                                            <option>Bandipore</option>
                                            <option>Bangalore</option>
                                            <option>Banka</option>
                                            <option>Bankura</option>
                                            <option>Banswara</option>
                                            <option>Barabanki</option>
                                            <option>Baramula</option>
                                            <option>Baran</option>
                                            <option>Bardhaman</option>
                                            <option>Bareilly</option>
                                            <option>Bargarh</option>
                                            <option>Barmer</option>
                                            <option>Barpeta</option>
                                            <option>Barwani</option>
                                            <option>Bastar</option>
                                            <option>Basti</option>
                                            <option>Bathinda</option>
                                            <option>Beed</option>
                                            <option>Begusarai</option>
                                            <option>Belgaum</option>
                                            <option>Bellary</option>
                                            <option>Betul</option>
                                            <option>Bhadrak</option>
                                            <option>Bhagalpur</option>
                                            <option>Bhandara</option>
                                            <option>Bharatpur</option>
                                            <option>Bharuch</option>
                                            <option>Bhavnagar</option>
                                            <option>Bhilwara</option>
                                            <option>Bhind</option>
                                            <option>Bhiwani</option>
                                            <option>Bhojpur</option>
                                            <option>Bhopal</option>
                                            <option>Bidar</option>
                                            <option>Bijapur</option>
                                            <option>Bijnor</option>
                                            <option>Bikaner</option>
                                            <option>Bilaspur</option>
                                            <option>Bilaspur</option>
                                            <option>Birbhum</option>
                                            <option>Bishnupur</option>
                                            <option>Bokaro</option>
                                            <option>Bolangir</option>
                                            <option>Bongaigaon</option>
                                            <option>Boudh</option>
                                            <option>Bulandshahr</option>
                                            <option>Buldhana</option>
                                            <option>Bundi</option>
                                            <option>Burhanpur</option>
                                            <option>Buxar</option>
                                            <option>Cachar</option>
                                            <option>Chamarajnagar</option>
                                            <option>Chamba</option>
                                            <option>Chamoli</option>
                                            <option>Champawat</option>
                                            <option>Champhai</option>
                                            <option>Chandauli</option>
                                            <option>Chandel</option>
                                            <option>Chandrapur</option>
                                            <option>Changlang</option>
                                            <option>Chatra</option>
                                            <option>Chennai</option>
                                            <option>Chhatarpur</option>
                                            <option>Chhindwara</option>
                                            <option>Chikballapur</option>
                                            <option>Chikmagalur</option>
                                            <option>Chitradurga</option>
                                            <option>Chitrakoot</option>
                                            <option>Chittoor</option>
                                            <option>Chittorgarh</option>
                                            <option>Churachandpur</option>
                                            <option>Churu</option>
                                            <option>Coimbatore</option>
                                            <option>CoochBehar</option>
                                            <option>Cuddalore</option>
                                            <option>Cuttack</option>
                                            <option>Dahod</option>
                                            <option>DakshinDinajpur</option>
                                            <option>DakshinaKannada</option>
                                            <option>Daman</option>
                                            <option>Damoh</option>
                                            <option>Dantewada</option>
                                            <option>Darbhanga</option>
                                            <option>Darjeeling</option>
                                            <option>Darrang</option>
                                            <option>Datia</option>
                                            <option>Dausa</option>
                                            <option>Davanagere</option>
                                            <option>Debagarh</option>
                                            <option>Dehradun</option>
                                            <option>Delhi</option>
                                            <option>Deoghar</option>
                                            <option>Deoria</option>
                                            <option>Dewas</option>
                                            <option>Dhalai</option>
                                            <option>Dhamtari</option>
                                            <option>Dhanbad</option>
                                            <option>Dhar</option>
                                            <option>Dharmapuri</option>
                                            <option>Dharwad</option>
                                            <option>Dhemaji</option>
                                            <option>Dhenkanal</option>
                                            <option>Dholpur</option>
                                            <option>Dhubri</option>
                                            <option>Dhule</option>
                                            <option>DibangValley</option>
                                            <option>Dibrugarh</option>
                                            <option>Dimapur</option>
                                            <option>Dindigul</option>
                                            <option>Dindori</option>
                                            <option>Diu</option>
                                            <option>Doda</option>
                                            <option>Dumka</option>
                                            <option>Dungapur</option>
                                            <option>Durg</option>
                                            <option>EastGaroHills</option>
                                            <option>EastGodavari</option>
                                            <option>EastKameng</option>
                                            <option>EastKhasiHills</option>
                                            <option>EastSikkim</option>
                                            <option>Ernakulam</option>
                                            <option>Erode</option>
                                            <option>Etah</option>
                                            <option>Etawah</option>
                                            <option>Faizabad</option>
                                            <option>Faridabad</option>
                                            <option>Faridkot</option>
                                            <option>Farrukhabad</option>
                                            <option>Fatehabad</option>
                                            <option>FatehgarhSahib</option>
                                            <option>Fatehpur</option>
                                            <option>Firozabad</option>
                                            <option>Firozpur</option>
                                            <option>Gadag</option>
                                            <option>Gadchiroli</option>
                                            <option>Gajapati</option>
                                            <option>Gandhinagar</option>
                                            <option>Ganganagar</option>
                                            <option>Ganjam</option>
                                            <option>Garhwa</option>
                                            <option>GautamBuddhaNagar</option>
                                            <option>Gaya</option>
                                            <option>Ghaziabad</option>
                                            <option>Ghazipur</option>
                                            <option>Giridih</option>
                                            <option>Goalpara</option>
                                            <option>Godda</option>
                                            <option>Golaghat</option>
                                            <option>Gonda</option>
                                            <option>Gondiya</option>
                                            <option>Gopalganj</option>
                                            <option>Gorkakhpur</option>
                                            <option>Gulbarga</option>
                                            <option>Gumla</option>
                                            <option>Guna</option>
                                            <option>Guntur</option>
                                            <option>Gurdaspur</option>
                                            <option>Gurgaon</option>
                                            <option>Gwalior</option>
                                            <option>Hailakandi</option>
                                            <option>Hamirpur</option>
                                            <option>Hamirpur</option>
                                            <option>Hanumangarh</option>
                                            <option>Harda</option>
                                            <option>Hardoi</option>
                                            <option>Haridwar</option>
                                            <option>Hassan</option>
                                            <option>HaveriDistrict</option>
                                            <option>Hazaribagh</option>
                                            <option>Hingoli</option>
                                            <option>Hissar</option>
                                            <option>Hooghly</option>
                                            <option>Hoshangabad</option>
                                            <option>Hoshiarpur</option>
                                            <option>Howrah</option>
                                            <option>Hyderabad</option>
                                            <option>Idukki</option>
                                            <option>ImphalEast</option>
                                            <option>ImphalWest</option>
                                            <option>Indore</option>
                                            <option>Jabalpur</option>
                                            <option>Jagatsinghpur</option>
                                            <option>JaintiaHills</option>
                                            <option>Jaipur</option>
                                            <option>Jaisalmer</option>
                                            <option>Jajapur</option>
                                            <option>Jalandhar</option>
                                            <option>Jalaun</option>
                                            <option>Jalgaon</option>
                                            <option>Jalna</option>
                                            <option>Jalore</option>
                                            <option>Jalpaiguri</option>
                                            <option>Jammu</option>
                                            <option>Jamnagar</option>
                                            <option>Jamui</option>
                                            <option>Janjgir-Champa</option>
                                            <option>Jashpur</option>
                                            <option>JaunpurDistrict</option>
                                            <option>Jehanabad</option>
                                            <option>Jhabua</option>
                                            <option>Jhajjar</option>
                                            <option>Jhalawar</option>
                                            <option>Jhansi</option>
                                            <option>Jharsuguda</option>
                                            <option>Jind</option>
                                            <option>Jodhpur</option>
                                            <option>Jorhat</option>
                                            <option>Juhnjhunun</option>
                                            <option>Junagadh</option>
                                            <option>JyotibaPhuleNagar</option>
                                            <option>Kadapa</option>
                                            <option>Kaimur</option>
                                            <option>Kaithal</option>
                                            <option>Kalahandi</option>
                                            <option>Kanchipuram</option>
                                            <option>Kandhamal</option>
                                            <option>Kangra</option>
                                            <option>Kanker</option>
                                            <option>Kannauj</option>
                                            <option>Kannur</option>
                                            <option>KanpurDehat</option>
                                            <option>KanpurNagar</option>
                                            <option>KanshiramNagar</option>
                                            <option>Kanyakumari</option>
                                            <option>Kapurthala</option>
                                            <option>Karaikal</option>
                                            <option>Karauli</option>
                                            <option>KarbiAnglong</option>
                                            <option>Kargil</option>
                                            <option>Karimganj</option>
                                            <option>Karimnagar</option>
                                            <option>Karnal</option>
                                            <option>Karur</option>
                                            <option>Kasaragod</option>
                                            <option>Kathua</option>
                                            <option>Katihar</option>
                                            <option>Katni</option>
                                            <option>Kaushambi</option>
                                            <option>Kawardha</option>
                                            <option>Kendrapara</option>
                                            <option>Kendujhar</option>
                                            <option>Khagaria</option>
                                            <option>Khammam</option>
                                            <option>Khandwa</option>
                                            <option>Khargone</option>
                                            <option>Kheda</option>
                                            <option>Khordha</option>
                                            <option>Kinnaur</option>
                                            <option>Kishanganj</option>
                                            <option>Kodagu</option>
                                            <option>Koderma</option>
                                            <option>Kohima</option>
                                            <option>Kokrajhar</option>
                                            <option>Kolar</option>
                                            <option>Kolasib</option>
                                            <option>Kolhapur</option>
                                            <option>Kolkata</option>
                                            <option>Kollam</option>
                                            <option>Koppal</option>
                                            <option>Koraput</option>
                                            <option>Korba</option>
                                            <option>Koriya</option>
                                            <option>Kota</option>
                                            <option>Kottayam</option>
                                            <option>Kozhikode</option>
                                            <option>Krishna</option>
                                            <option>Kulu</option>
                                            <option>Kupwara</option>
                                            <option>Kurnool</option>
                                            <option>Kurukshetra</option>
                                            <option>Kushinagar</option>
                                            <option>Kutch</option>
                                            <option>LahaulandSpiti</option>
                                            <option>Lakhimpur</option>
                                            <option>LakhimpurKheri</option>
                                            <option>Lakhisarai</option>
                                            <option>Lalitpur</option>
                                            <option>Latur</option>
                                            <option>Lawngtlai</option>
                                            <option>Leh</option>
                                            <option>Lohardaga</option>
                                            <option>Lohit</option>
                                            <option>LowerSubansiri</option>
                                            <option>Lucknow</option>
                                            <option>Ludhiana</option>
                                            <option>Lunglei</option>
                                            <option>Madhepura</option>
                                            <option>Madhubani</option>
                                            <option>Madurai</option>
                                            <option>MahamayaNagar</option>
                                            <option>Maharajganj</option>
                                            <option>Mahasamund</option>
                                            <option>Mahbubnagar</option>
                                            <option>Mahe</option>
                                            <option>Mahendragarh</option>
                                            <option>Mahoba</option>
                                            <option>Mainpuri</option>
                                            <option>Malappuram</option>
                                            <option>Malda</option>
                                            <option>Malkangiri</option>
                                            <option>Mamit</option>
                                            <option>Mandi</option>
                                            <option>Mandla</option>
                                            <option>Mandsaur</option>
                                            <option>Mandya</option>
                                            <option>Mansa</option>
                                            <option>Marigaon</option>
                                            <option>Mathura</option>
                                            <option>Mau</option>
                                            <option>Mayurbhanj</option>
                                            <option>Medak</option>
                                            <option>Meerut</option>
                                            <option>Mehsana</option>
                                            <option>Mewat</option>
                                            <option>Midnapore</option>
                                            <option>Mirzapur</option>
                                            <option>Moga</option>
                                            <option>Mokokchung</option>
                                            <option>Mon</option>
                                            <option>Moradabad</option>
                                            <option>Morena</option>
                                            <option>Mukatsar</option>
                                            <option>Mumbai</option>
                                            <option>Munger</option>
                                            <option>Murshidabad</option>
                                            <option>Muzaffarnagar</option>
                                            <option>Muzaffarpur</option>
                                            <option>Mysore</option>
                                            <option>Nabarangpur</option>
                                            <option>Nadia</option>
                                            <option>Nagaon</option>
                                            <option>Nagapattinam</option>
                                            <option>Nagaur</option>
                                            <option>Nagpur</option>
                                            <option>Nainital</option>
                                            <option>Nalanda</option>
                                            <option>Nalbari</option>
                                            <option>Nalgonda</option>
                                            <option>Namakkal</option>
                                            <option>Nanded</option>
                                            <option>Nandurbar</option>
                                            <option>Narmada</option>
                                            <option>Narsinghpur</option>
                                            <option>Nashik</option>
                                            <option>Navsari</option>
                                            <option>Nawada</option>
                                            <option>NawanShehar</option>
                                            <option>Nayagarh</option>
                                            <option>Neemuch</option>
                                            <option>Nellore</option>
                                            <option>Nicobar</option>
                                            <option>Nizamabad</option>
                                            <option>North24Parganas</option>
                                            <option>NorthCacharHills</option>
                                            <option>NorthGoa</option>
                                            <option>NorthSikkim</option>
                                            <option>NorthTripura</option>
                                            <option>NorthandMiddleAndaman</option>
                                            <option>Nuapada</option>
                                            <option>Osmanabad</option>
                                            <option>Pakur</option>
                                            <option>Palakkad</option>
                                            <option>Palamu</option>
                                            <option>Pali</option>
                                            <option>Palwal</option>
                                            <option>Panchkula</option>
                                            <option>Panchmahal</option>
                                            <option>Panipat</option>
                                            <option>Panna</option>
                                            <option>PapumPare</option>
                                            <option>Parbhani</option>
                                            <option>PashchimChamparan</option>
                                            <option>PashchimSinghbhum</option>
                                            <option>Patan</option>
                                            <option>Pathanamthitta</option>
                                            <option>Patiala</option>
                                            <option>Patna</option>
                                            <option>PauriGarhwal</option>
                                            <option>Perambalur</option>
                                            <option>Phek</option>
                                            <option>Pilibhit</option>
                                            <option>Pithoragharh</option>
                                            <option>Poonch</option>
                                            <option>Porbandar</option>
                                            <option>Prakasam</option>
                                            <option>Pratapgarh</option>
                                            <option>Pratapgarh</option>
                                            <option>Puducherry</option>
                                            <option>Pudukkottai</option>
                                            <option>Pulwama</option>
                                            <option>Pune</option>
                                            <option>PurbaChamparan</option>
                                            <option>PurbaSinghbhum</option>
                                            <option>Puri</option>
                                            <option>Purnia</option>
                                            <option>Purulia</option>
                                            <option>RaeBareli</option>
                                            <option>Raichur</option>
                                            <option>Raigad</option>
                                            <option>Raigarh</option>
                                            <option>Raipur</option>
                                            <option>Raisen</option>
                                            <option>Rajauri</option>
                                            <option>Rajgarh</option>
                                            <option>Rajkot</option>
                                            <option>Rajnandgaon</option>
                                            <option>Rajsamand</option>
                                            <option>Ramanagara</option>
                                            <option>Ramanathapuram</option>
                                            <option>Ramgarh</option>
                                            <option>Rampur</option>
                                            <option>Ranchi</option>
                                            <option>Rangareddi</option>
                                            <option>Ratlam</option>
                                            <option>Ratnagiri</option>
                                            <option>Rayagada</option>
                                            <option>Rewa</option>
                                            <option>Rewari</option>
                                            <option>Ri-Bhoi</option>
                                            <option>Rohtak</option>
                                            <option>Rohtas</option>
                                            <option>Rudraprayag</option>
                                            <option>Rupnagar</option>
                                            <option>Sabarkantha</option>
                                            <option>Sagar</option>
                                            <option>Saharanpur</option>
                                            <option>Saharsa</option>
                                            <option>Sahibganj</option>
                                            <option>Saiha</option>
                                            <option>Salem</option>
                                            <option>Samastipur</option>
                                            <option>Samba</option>
                                            <option>Sambalpur</option>
                                            <option>Sangli</option>
                                            <option>Sangrur</option>
                                            <option>SantKabirNagar</option>
                                            <option>SantRavidasNagar</option>
                                            <option>Saran</option>
                                            <option>Satara</option>
                                            <option>Satna</option>
                                            <option>SawaiMadhopur</option>
                                            <option>Sehore</option>
                                            <option>Senapati</option>
                                            <option>Seoni</option>
                                            <option>SeraikelaandKharsawan</option>
                                            <option>Serchhip</option>
                                            <option>Shahdol</option>
                                            <option>Shahjahanpur</option>
                                            <option>Shajapur</option>
                                            <option>Sheikhpura</option>
                                            <option>Sheohar</option>
                                            <option>Sheopur</option>
                                            <option>Shimla</option>
                                            <option>Shimoga</option>
                                            <option>Shivpuri</option>
                                            <option>Shravasti</option>
                                            <option>Sibsagar</option>
                                            <option>Siddharthnagar</option>
                                            <option>Sidhi</option>
                                            <option>Sikar</option>
                                            <option>Sindhudurg</option>
                                            <option>Singrauli</option>
                                            <option>Sirmaur</option>
                                            <option>Sirohi</option>
                                            <option>Sirsa</option>
                                            <option>Sitamarhi</option>
                                            <option>Sitapur</option>
                                            <option>Sivagangai</option>
                                            <option>Siwan</option>
                                            <option>Solan</option>
                                            <option>Solapur</option>
                                            <option>Sonbhadra</option>
                                            <option>Sonepat</option>
                                            <option>Sonitpur</option>
                                            <option>South24Parganas</option>
                                            <option>SouthAndaman</option>
                                            <option>SouthGaroHills</option>
                                            <option>SouthGoa</option>
                                            <option>SouthSikkim</option>
                                            <option>SouthTripura</option>
                                            <option>Srikakulam</option>
                                            <option>Srinagar</option>
                                            <option>Subarnapur</option>
                                            <option>Sultanpur</option>
                                            <option>Sundargarh</option>
                                            <option>Supaul</option>
                                            <option>Surat</option>
                                            <option>Surendranagar</option>
                                            <option>Surguja</option>
                                            <option>Tamenglong</option>
                                            <option>TehriGarhwal</option>
                                            <option>Thane</option>
                                            <option>Thanjavur</option>
                                            <option>TheDangs</option>
                                            <option>TheNilgiris</option>
                                            <option>Theni</option>
                                            <option>Thiruvallur</option>
                                            <option>Thiruvananthapuram</option>
                                            <option>Thiruvarur</option>
                                            <option>Thoothukudi</option>
                                            <option>Thoubal</option>
                                            <option>Thrissur</option>
                                            <option>Tikamgarh</option>
                                            <option>Tinsukia</option>
                                            <option>Tirap</option>
                                            <option>Tiruchirappalli</option>
                                            <option>Tirunelveli</option>
                                            <option>Tiruppur</option>
                                            <option>Tiruvannamalai</option>
                                            <option>Tonk</option>
                                            <option>Tuensang</option>
                                            <option>Tumkur</option>
                                            <option>Udaipur</option>
                                            <option>UdhamSinghNagar</option>
                                            <option>Udhampur</option>
                                            <option>Udupi</option>
                                            <option>Ujjain</option>
                                            <option>Ukhrul</option>
                                            <option>Umaria</option>
                                            <option>Una</option>
                                            <option>Unnao</option>
                                            <option>UpperSubansiri</option>
                                            <option>UttarDinajpur</option>
                                            <option>UttaraKannada</option>
                                            <option>Uttarkashi</option>
                                            <option>Vadodara</option>
                                            <option>Vaishali</option>
                                            <option>Valsad</option>
                                            <option>Varanasi</option>
                                            <option>Vellore</option>
                                            <option>Vidisha</option>
                                            <option>Villupuram</option>
                                            <option>Vishakhapatnam</option>
                                            <option>Vizianagaram</option>
                                            <option>Warangal</option>
                                            <option>Wardha</option>
                                            <option>Washim</option>
                                            <option>Wayanad</option>
                                            <option>WestGaroHills</option>
                                            <option>WestGodavari</option>
                                            <option>WestKameng</option>
                                            <option>WestKhasiHills</option>
                                            <option>WestSikkim</option>
                                            <option>WestTripura</option>
                                            <option>Wokha</option>
                                            <option>Yadagiri</option>
                                            <option>YamunaNagar</option>
                                            <option>Yanam</option>
                                            <option>Yavatmal</option>
                                            <option>Zunheboto</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="txtAge">Age</label>
                                        <input type="number" class="form-control form-control-sm" name="txtAge" placeholder="age" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="selectGender">Gender</label>
                                        <select name="selectGender" class="form-control form-control-sm">
                                            <option>
                                                Female
                                            </option>
                                            <option>
                                                Male
                                            </option>
                                            <option>
                                                Others
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="txtContactNumber">Contact Number</label>
                                        <input type="text" class="form-control form-control-sm" placeholder="number" name="txtContactNumber" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="steps step2">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="fuDegree">Degree</label>
                                        <input class="form-control form-control-sm" type="file" name="fuDegree" accept="application/pdf" multiple>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="fuLetterofRef">Letter Of References</label>
                                        <input class="form-control form-control-sm" type="file" name="fuLetterofRef" accept="application/pdf">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="txtFieldExcellence">Field of Excellence</label>
                                        <textarea class="form-control form-control-sm" name="txtFieldExcellence" placeholder="field of excellence"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="txtPrevWorkDet">Previous Work Details</label>
                                        <textarea class="form-control form-control-sm" name="txtPrevWorkDet" placeholder="previous work details"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="fuCertificates">Add certification(s) if any</label>
                                        <input class="form-control form-control-sm" type="file" name="fuCertificates" accept="application/pdf" multiple>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="fuAwardsAchiev">Award/Achievements</label>
                                        <input class="form-control form-control-sm" type="file" name="fuAwardsAchiev" accept="application/pdf" multiple>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="txtLanguages">Language(s) known</label>
                                        <input type="text" class="form-control form-control-sm" name="txtLanguages" placeholder="language(s)" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="txtExpYrs">Experience in years</label>
                                        <input type="text" class="form-control form-control-sm" name="txtExpYrs" placeholder="total experience" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="fuUploadWork">Upload Your Work</label>
                                        <input class="form-control form-control-sm" type="file" name="fuUploadWork" accept="application/pdf" multiple>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="steps step3">
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="txtPassword">Password</label>
                                        <input type="password" class="form-control form-control-sm" placeholder="Password" name="txtPassword" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        <label class="text-inverse" for="txtConfirmPassword">Confirm Password</label>
                                        <input type="password" class="form-control form-control-sm" placeholder="Password" name="txtConfirmPassword" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <input type="button" class="btn btn-sm btn-outline-primary form-control form-control-sm" value="Create" id="btnUpload" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>