@model TMC.Models.ResetPasswordModel

@{
    Layout = null;
}
<link href="~/css/loginregister.css" rel="stylesheet" />
<div class="login-box">
    <div class="lb-header"><a class="active">Reset Password</a></div>
    <form class="email-login" id="formResetPassword" asp-action="ResetPassword">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="u-form-group">           
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="u-form-group">           
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Email" class="form-control" />
        <input type="hidden" asp-for="Token" class="form-control" />
        <div class="u-form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

