@{
    Layout = null;
}
<link href="~/css/loginregister.css" rel="stylesheet" />
<div class="login-box">
    <div class="lb-header"><a class="active">Link Expired</a></div>
    <p>
    <p>
        Your password link has been expired</a>.
    </p>
</div>