@{
    Layout = null;
}
<link href="~/css/loginregister.css" rel="stylesheet" />
<div class="login-box">
    <div class="lb-header"><a class="active">Reset Password Confirmation</a></div>
    <p>
        Your password has been reset. Please <a asp-action="Verify">click here to log in</a>.
    </p>
</div>
