@{
    Layout = null;
}

<link href="~/css/loginregister.css" rel="stylesheet" />
<div class="login-box">
    <div class="lb-header">
        <a href="#" class="active" id="login-box-link">Login</a>
        <a href="/account/ListYourProfile" id="signup-box-link">Sign Up</a>
    </div>
    <div class="social-login" style="display:none;">
        <a href="#">
            <i class="fa fa-facebook fa-lg"></i>
            Login in with facebook
        </a>
        <a href="#">
            <i class="fa fa-google-plus fa-lg"></i>
            log in with Google
        </a>
    </div>
    <form class="email-login" id="formLogin">
        <div class="u-form-group">
            <input type="email" placeholder="Email" name="mail" />
        </div>
        <div class="u-form-group">
            <input type="password" placeholder="Password" name="UPassword" />
        </div>
        <div class="u-form-group">
            <button id="btnLogin" type="button">Log in</button>
        </div>
        <div class="u-form-group">
            <a href="/account/ForgotPassword" class="forgot-password">Forgot password?</a>
        </div>
    </form>
    <form class="email-signup" id="formRegister" style="display:none">
        <div class="u-form-group">
            <input type="text" placeholder="Name" name="UserName" /><br />
            <span class="is-invalid" id="errName"></span>
        </div>
        <div class="u-form-group">
            <input type="text" placeholder="Email" name="regmail" /><br />
            <span class="is-invalid" id="errEmail"></span>
        </div>
        <div class="u-form-group">
            <input type="tel" placeholder="Contact Number" name="ContactNumber" /><br />
            <span class="is-invalid" id="errContactNo"></span>
        </div>
        <div class="u-form-group">
            <input type="password" placeholder="Password" name="UPassword" /><br />
            <span class="is-invalid" id="errPassword"></span>
        </div>
        <div class="u-form-group">
            <input type="password" placeholder="Confirm Password" name="ConPassword" /><br />
            <span class="is-invalid" id="errConfirmPassword"></span>
        </div>
        <div class="u-form-group">
            <button id="btnRegister" type="button">Sign Up</button>
        </div>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/loginregister.js"></script>
<script src="~/js/site.js"></script>