<link href="~/css/alldirectors.css" rel="stylesheet" />
<script src="~/js/alldirectors.js"></script>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">all our directors...</h1>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="col-md-12">
                <div class="row data-view">
                </div>
            </div>
        </div>
    </div>
</main>