<link href="~/css/alldirectors.css" rel="stylesheet" />
<script src="~/js/alldirectors.js"></script>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">all our directors...</h1>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="col-md-12">
                <div class="row data-view">
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="modalViewDirector" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h4 id="modalheading"></h4>
                <hr />
                <div class="col-lg-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-6">
                            <img class="card-img-top" alt="Director Image" id="modalimg">
                        </div>
                        <div class="col-lg-6 col-sm-12 col-6">
                            <p class="form-control" id="modalp"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>