@{
    ViewData["Title"] = "Artists";
}
<link href="~/css/alldirectors.css" rel="stylesheet" />
<script src="~/js/homebackstage.js"></script>
<script src="~/js/chatservice.js"></script>
<style type="text/css">
    .filter-area {
        margin: 2% 0 2% 0;
    }

    .card-body {
        background-color: none;
        color: none;
        border-color: none;
    }
</style>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">backstage crew...</h1>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">
            <div class="col-md-12">
                <div class="row filter-area">
                    <div class="col-md-2">
                        <select class="form-control form-control-sm ddlRoleType">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control form-control-sm ddlCity">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control form-control-sm ddlLanguage">
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control form-control-sm ddlGender">
                            <option>
                                Female
                            </option>
                            <option>
                                Male
                            </option>
                            <option>
                                Others
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row data-view">
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="modalViewProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <h4 id="modalheading"></h4>
                <hr />
                <section style="background-color: #eee;">
                    <div class="container py-5">

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card mb-4">
                                    <div class="card-body text-center">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" name="profile_picture" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                        <h5 class="my-3" name="profile_title">John Smith</h5>
                                        <p class="text-muted mb-1" name="profile_role">Full Stack Developer</p>
                                        <p class="text-muted mb-4" name="profile_city">Bay Area, San Francisco, CA</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Full Name</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_title"> </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Role</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_role"> </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Type of</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_typeof">example@example.com</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Email</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_email">(097) 234-5678</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">City</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_city">(098) 765-4321</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Field of Excellence</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_fldexcellence">Bay Area, San Francisco, CA</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Previous Work Details</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_previousworkdetails">Bay Area, San Francisco, CA</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Language(s) known</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_languages">Bay Area, San Francisco, CA</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Experience in years</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_totexp">Bay Area, San Francisco, CA</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Degree</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_degree"> </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Letter Of References</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_letterofref"> </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Certification(s)</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_certification"> </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Award/Achievements</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_awards"> </p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Work</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" name="profile_work"> </p>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>