@{
    ViewData["Title"] = "Artists";
}
<link href="~/css/alldirectors.css" rel="stylesheet" />
<script src="~/js/backstageprofile.js"></script>
<main role="main" class="blackstageprofile">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading" id="heading">backstage crew...</h1>
        </div>
    </section>
    <input type="hidden" id="id" value="@ViewData["Id"]" />
    <input type="hidden" id="Name" value="@ViewData["Name"]" />
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" name="profile_picture" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3" name="profile_title">John Smith</h5>
                            <p class="text-muted mb-1" name="profile_role">Full Stack Developer</p>
                            <p class="text-muted mb-4" name="profile_city">Bay Area, San Francisco, CA</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_title"> </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Role</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_role"> </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Type of</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_typeof">example@example.com</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_email">(097) 234-5678</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">City</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_city">(098) 765-4321</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Field of Excellence</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_fldexcellence">Bay Area, San Francisco, CA</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Previous Work Details</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_previousworkdetails">Bay Area, San Francisco, CA</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Language(s) known</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_languages">Bay Area, San Francisco, CA</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Experience in years</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_totexp">Bay Area, San Francisco, CA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Degree</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_degree"> </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Letter Of References</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_letterofref"> </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Certification(s)</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_certification"> </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Award/Achievements</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_awards"> </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Work</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="profile_work"> </p>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Work Links</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0" name="links_work"> </p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>