@{
    ViewData["Title"] = "Giveaway";
}
<script src="~/js/homegiveaway.js"></script>
<style type="text/css">
    .filter-area {
        margin: 2% 0 2% 0;
    }

    .card-img-top {
        height: 15em;
        width: auto;
    }
</style>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">all the giveaways</h1>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">
            <br />
            <div class="col-md-12">
                <div class="row filter-area">
                    <div class="col-md-3">
                        <select class="form-control form-control-sm ddlCity">
                        </select>
                    </div>
                    <div class="col-md-9">
                        <input type="search" placeholder="search for giveaways" name="txtSearch" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row dataview">
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" src="~/TMC/Images/thumbnail_sample.svg" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">9 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" src="~/TMC/Images/thumbnail_sample.svg" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                                            </div>
                                            <small class="text-muted">9 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" src="~/TMC/Images/thumbnail_sample.svg" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                                <button type="button" class="btn btn-sm btn-outline-secondary">Book</button>
                                            </div>
                                            <small class="text-muted">9 mins</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>