@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Theatre Festival || TMC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/x-icon" href="~/TMC/Images/White logo.ico">
    <meta name="description" content="Theatre Management Company brings its first-ever edition of the Online Theatre Festival commencing from January 7 onwards.">

    <meta property="og:title" content="Theatre Management Company brings the Online Theatre Festival" />
    <meta property="og:url" content="http://www.theatremanagementcompany.com/" />
    <meta property="og:description" content="Theatre Management Company brings its first-ever edition of the Online Theatre Festival commencing from January 7 onwards.">
    <meta property="og:image" content="http://www.theatremanagementcompany.com/TMC/Images/White_logo-removebg-preview.png">
    <meta property="og:type" content="article" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <style type="text/css">
        .card {
            margin-top: 10%;
        }
    </style>
    <script src="~/js/onlinetheatrefestival.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <img src="~/TMC/Images/White_logo-removebg-preview.png" class="img-fluid" />
            </div>
            <div class="col"></div>
        </div>
        <div class="row justify-content-center" style="font-size: 1.1em; color: slategrey; margin-bottom: 1%; ">
            <div class="col">
                <span class="font-weight-bold">Theatre Management Company</span> brings its new edition of the Online Theatre Festival commencing from January 7 onwards.
            </div>
        </div>
        <div class="row dataview">
            @*<div class="col">
                <div class="card">
                    <img src="~/Blogs/Images/storytelling_01102021.png" class="card-img-top" alt="Story Telling">
                    <div class="card-body">
                        <h5 class="card-title">Story Telling</h5>
                        <p class="card-text">October 1 | 8PM</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://insider.in/storytelling-oct1-2021/event" target="_blank" class="card-link">View the event</a></li>
                        <li class="list-group-item"><a href="https://insider.in/event/storytelling-oct1-2021/buy" target="_blank" class="card-link">Get the tickets</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/Blogs/Images/poetrysession_02102021.png" class="card-img-top" alt="Poetry Session">
                    <div class="card-body">
                        <h5 class="card-title">Poetry Session</h5>
                        <p class="card-text">October 2 | 8PM</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://insider.in/poetry-session-oct2-2021/event" target="_blank" class="card-link">View the event</a></li>
                        <li class="list-group-item"><a href="https://insider.in/event/poetry-session-oct2-2021/buy" target="_blank" class="card-link">Get the tickets</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/Blogs/Images/urdu-mehfi_03102021.png" class="card-img-top" alt="Urdu Mehfil">
                    <div class="card-body">
                        <h5 class="card-title">Urdu Mehfil</h5>
                        <p class="card-text">October 3 | 8PM</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://insider.in/urdu-mehfil-oct3-2021/event" target="_blank" class="card-link">View the event</a></li>
                        <li class="list-group-item"><a href="https://insider.in/event/urdu-mehfil-oct3-2021/buy" target="_blank" class="card-link">Get the tickets</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/Blogs/Images/gajarkahalwa_04102021.png" class="card-img-top" alt="Gajar ka Halwa">
                    <div class="card-body">
                        <h5 class="card-title">Gajar ka Halwa</h5>
                        <p class="card-text">October 4 | 8PM</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://insider.in/short-play-gaajar-ka-halwa-oct4-2021/event" target="_blank" class="card-link">View the event</a></li>
                        <li class="list-group-item"><a href="https://insider.in/event/short-play-gaajar-ka-halwa-oct4-2021/buy" target="_blank" class="card-link">Get the tickets</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/Blogs/Images/rangrangile_04102021.png" class="card-img-top" alt="Rang Rangila Gittu Girgit">
                    <div class="card-body">
                        <h5 class="card-title">R2G2 (for kids)</h5>
                        <p class="card-text">October 4 | 8PM</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://insider.in/short-play-rang-rangila-gittu-girgit-oct4-2021/event" target="_blank" class="card-link">View the event</a></li>
                        <li class="list-group-item"><a href="https://insider.in/event/short-play-rang-rangila-gittu-girgit-oct4-2021/buy" target="_blank" class="card-link">Get the tickets</a></li>
                    </ul>
                </div>
            </div>*@
        </div>
    </div>
</body>
