<link href="~/css/plays.css" rel="stylesheet" />
<script src="~/js/plays.js"></script>
<main role="main">
    <section class="jumbotron">
        <div class="container">
            <span class="lbltitle">Dune</span>
            <br />
            <span class="lbladdedondate">10 November 2021 - 02:24hrs</span>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-expand-sm">
                <div class="container-fluid">
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        </svg>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Cast-n-Crew</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Theatre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li style="border-left: 2px solid #bdb9b9;">
                                <a class="nav-link" href="#"><i class="fas fa-share-alt" data-bs-toggle="tooltip" title="Share this play."></i></a>
                            </li>
                            <li>
                                <a class="nav-link" href="#"><i class="fas fa-eye" data-bs-toggle="tooltip" title="Add to watchlist."></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div id="divCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            @*<div class="carousel-item active">
                                    <img class="d-block w-100" src="~/Carousel/Image1.png" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="~/Carousel/Image2.png" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="~/Carousel/Image3.png" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="~/Carousel/Image4.png" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="~/Carousel/Image5.png" alt="First slide">
                                </div>*@
                        </div>
                        <a class="carousel-control-prev" href="#divCarousel" role="button" data-slide="prev">
                            <i class="fas fa-angle-left"></i>
                        </a>
                        <a class="carousel-control-next" href="#divCarousel" role="button" data-slide="next">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row play-details">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <h3>Details</h3>
                        <table class="table">
                            <tr>
                                <td>
                                    <b>Genre</b>: <span class="lblgenre"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Written By</b>: <label name="lblwriter"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Directed By</b>: <label name="lbldirector"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Acted By</b>: <label name="lblactor"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Number of Shows</b>: <label name="lblnoOfShows"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Age suitable for</b>: <label name="lblageSuitable"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Languages in</b>: <label class="lblLanguage"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Watch Trailer</b>: <label name="lbltrailer"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Premier Show</b>: <label name="lblpremierdate"></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#">About the Theater</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row play-story">
                <div class="col-md-12">
                    <h3>Story Line</h3>
                    <p name="psynopsis"></p>
                </div>
            </div>
        </div>
    </div>
</main>