form {
    margin-top: 2%;
}

.data-item {
    margin-top: 4%;
}

.card-img-top {
    height: 15em;
}

#modalp {
    height: 100% !important;
}

.table {
    background-color: #3d0000;
    color: #ffe1e6;
}
