:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.card-img-top {
    height: 15em;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

    footer p {
        margin-bottom: .25rem;
    }

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

i {
    cursor: pointer;
}

.filter-area .card-body {
    height: 150px;
    overflow-y: auto;
}

.filter-area .filter-item-td {
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
}

    .filter-area .filter-item-td:hover {
        background-color: lightgrey;
        text-decoration: underline;
        /*color: #bd1515;*/
    }

.filter-item-selected {
    background-color: #d3d3d3;
}

.filter-selected-list-items-object {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0.1em;
}

    .filter-selected-list-items-object a {
        color: #bbb;
        cursor: pointer;
        opacity: 0.6;
        margin: 0 0 0 .3em;
    }

        .filter-selected-list-items-object a:hover {
            opacity: 1.0
        }

    .filter-selected-list-items-object .remove {
        vertical-align: bottom;
        top: 0;
    }

    .filter-selected-list-items-object a .fa-times-circle {
        color: #fff;
    }

.filter-selected-item-remove {
    cursor: pointer;
    color: white;
    padding: 0 1% 0 1%;
    background-color: #ffb340;
}
