:root {
    --jumbotron-padding-y: 3rem;
}

.btn {
    /*padding: 30%;*/
    margin-left: 3%;
}

.card-img-top {
    height: 15em;
}

.card-text {
    height: 200px;
}

.card-body {
    height: 279px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

    footer p {
        margin-bottom: .25rem;
    }

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

i {
    cursor: pointer;
}

.filter-area .card-body {
    height: 150px;
    overflow-y: auto;
}

.filter-area .filter-item-td, .filter-item {
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
    padding: 6%;
}

    /*.filter-area .filter-item-td*/
    .filter-item:hover {
        border-radius: 7%;
        background-color: #ffc7c761;
    }

.filter-item-selected {
    border-radius: 7%;
    background-color: #ffc7c761;
}

.filter-selected-list-items-object {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0.1em;
}

    .filter-selected-list-items-object a {
        cursor: pointer;
        opacity: 0.6;
        margin: 0 0 0 .3em;
    }

        .filter-selected-list-items-object a:hover {
            opacity: 1.0
        }

    .filter-selected-list-items-object .remove {
        vertical-align: bottom;
        top: 0;
    }

    .filter-selected-list-items-object a .fa-times-circle {
        /*color: #fff;*/
    }

.filter-selected-item-remove {
    cursor: pointer;
    color: white;
    padding: 0 1% 0 1%;
    background-color: #ffb340;
}

.table {
    color: #ffe1e6;
}
