.table {
    font-size: 14px;
    color: #8d97ad;
}

.lbltitle {
    font-size: 4em;
    color: #f99b82;
}

.lbladdedondate {
    color: #6e6d6d;
}

.play-details {
    margin-top: 4%;
    color: #8d97ad;
}

    .play-details h3 {
        margin-bottom: 4%;
        border-left: 4px solid darkorange;
        padding-left: 2%;
        color: antiquewhite;
    }

.spangenres {
    margin-left: 2%;
    border: 1px solid #bfbfbf;
    padding: 1%;
    cursor: pointer;
    font-size: 12px;
}

    .spangenres:hover {
        background-color: lightgrey;
        color: white;
    }

.play-story {
    margin-top: 4%;
    color: #8d97ad;
}

    .play-story h3 {
        margin-bottom: 2%;
        border-left: 4px solid darkorange;
        padding-left: 2%;
        color: antiquewhite;
    }

.play-heading-details {
    float: right;
}

    .play-heading-details i {
        font-size: 2em;
    }

    .play-heading-details span {
        color: #6e6d6d;
    }
