@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

body {
    font-family: 'Poppins', sans-serif;
    transition: all 200ms linear;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
}

.bg-light-blue {
    background-color: rgb(198, 228, 255,1);
}

.bg-light-pink {
    background-color: #cae8e2;
}

.bg-navbar-dark {
    background-color: #14151a !important;
}

.navbar-nav .nav-link {
    color: white !important;
}

.nav-item:hover .nav-link {
    color: #8167a9 !important;
}