@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

body {
    font-family: 'Poppins', sans-serif;
    transition: all 200ms linear;
    /*background-color: #200e10;*/

    background: rgb(32,14,16);
    background: linear-gradient(90deg, rgba(32,14,16,1) 0%, rgba(54,39,41,1) 40%, rgba(32,14,16,1) 100%);
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3d0000;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
}

.jumbotron {
    /*background-color: #200e10;*/
    background-color: transparent;
}

.jumbotron-heading {
    font-weight: 300;
    color: antiquewhite;
}

.bg-light-blue {
    background-color: rgb(198, 228, 255,1);
}

.bg-light-pink {
    background-color: #cae8e2;
}

.bg-navbar-dark {
    background-color: #14151a !important;
}

.navbar-nav .nav-link {
    color: white !important;
}

.nav-item:hover .nav-link {
    /*color: #8167a9 !important;*/
    color: #cf9e5c !important;
}

.dropdown-item {
    color: white;
}

    .dropdown-item:hover {
        background-color: #661515;
        color: #cf9e5c !important;
    }

.dropdown-menu {
    background-color: #661515;
}

#modalheading {
    background-color: #3d0000;
    color: antiquewhite;
    padding: 1%;
}

.card {
    background-color: none;
    border: none;
}

.card-text, .card-title {
    color: #ffe1e6 !important;
}

.card-body {
    background-color: #3d0000;
    color: #ffe1e6;
    border-color: #3d0000;
}

.btn {
    background-color: #ff0000;
    color: white;
    border-radius: 0.4rem;
    border-color: #ff0000;
}

    .btn:hover {
        background-color: #fb5555;
        border-color: #fb5555;
    }

.input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: ease .3s;
}

    button:hover {
        background: #8BC34A;
        color: #ffffff;
    }

/*#region Loaders */

.loader-data {
    align-items: center;
    background-color: #00000066;
    height: 100vh;
    width: 100%;
    z-index: 10000000;
    justify-content: center !important;
    margin: 0;
    position: absolute;
}

.loader {
    width: 0;
}

.loader-wheel {
    animation: spin 1s infinite linear;
    border: 2px solid rgba(30, 30, 30, 0.5);
    border-left: 4px solid #fff;
    border-radius: 50%;
    height: 50px;
    margin-bottom: 10px;
    width: 50px;
}

.loader-text {
    color: #fff;
    font-family: arial, sans-serif;
}

    .loader-text:after {
        content: 'Loading';
        animation: load 2s linear infinite;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        content: 'Loading';
    }

    33% {
        content: 'Loading.';
    }

    67% {
        content: 'Loading..';
    }

    100% {
        content: 'Loading...';
    }
}

/*#endregion */
.background-image-contain {
    height: 250px;
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
